/* You can add global styles to this file, and also import other style files */
.menuStyle{
  background-color: #337AB7;
}

#menuLink{
  color: #000;
  font-weight: bold;
  font-size: 22px;
}

.container{
  padding: 3rem 1.5rem;
}


.cookies-alert {
  font-size: 12px;
}

.login-register-status {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

