/* You can add global styles to this file, and also import other style files */

#menuLink{
  color: rgb(187, 187, 187);
  font-size: 22px;
  font-weight: bold;
}

.content{
  height: 100%;
}


.cookies-alert {
  font-size: 12px;
}

.login-register-status {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

footer {
  margin: 0px;
}



