<div id="betCarusel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#betCarusel" data-slide-to="0" class="active"></li>
    <li data-target="#betCarusel" data-slide-to="1"></li>
    <li data-target="#betCarusel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/slider1.png" height="600px" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>Mistrzostwa w Rosji</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/slider2.png" height="600px" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>Bezpieczeństwo dzięki PayU</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/slider3.png" height="600px" alt="Third slide">
       <div class="carousel-caption d-none d-md-block">
        <h1>Kibicuj i zarabiaj</h1>
      </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#betCarusel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#betCarusel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <div class="content text-center">
    <div class="welcome">
      <h2>Witamy na stronie</h2>
      <p>Stań do rywalizacji z innymi graczami, w zakładach bukmacherskich i przekonaj się o wysokiej klasie naszego serwisu. To właśnie dzięki nam, możesz poznać smak zwycięstwa i wielkich emocji, jakie daje bukmacher internetowy. Niech wieczory z zakładami sportowymi, obfitują nie tylko w wielką pasję kibicowania, ale również w dreszcz emocji z rywalizacji o wynik, który daje potężna wygrana!</p>
      <p>Zakłady sportowe wyróżniają się szybkim, płynnym i intuicyjnym zakresem rozrywki, który pozwala na błyskawiczne zawieranie zakładów sportowych za pomocą kuponów bukmacherskich. Równie szybko możesz cieszyć się wygranymi z tych kuponów, gdyż bukmacher wypłaca wygrane zaraz po zakończeniu danego wydarzenia sportowego. Dzięki temu możesz natychmiast kontynuować zwycięską passę w kolejnym zakładzie.</p>
    </div>



    <div class="risk-info">
      <h4>Informacje o ryzyku</h4>
      <p>Bukmacher może przegrać, ty również</p>
      <p>Zakłady sportowe wiążą się z pewnym ryzykiem związanym z przegraną, o której jest świadomy każdy gracz. Żaden bukmacher nie jest w stanie wygrać każdego kuponu, bez względu na ilość wydarzeń i spotkań na nim obstawionych. Na wygraną zakładu sportowego składa się bardzo wiele czynników, w tym szczęście, potrzebne drużynie lub konkretnemu zawodnikowi w danym dniu.</p>
      <p>Specjaliści sportowi wskazują, że nawet najlepsza drużyna świata, może mieć słabszy dzień, bądź okres w swoich rozgrywkach - i dlatego nie wszystkie zakłady sprawdzą się. Bukmacher również może się mylić, czego przykładem są wysokie kursy - a często sprawia to, że nasze szczęście potrafi przynieść nieoczekiwanie duże wygrane, przy stosunkowo małym wkładzie własnym.</p>
      <p>Nie oznacza to jednak, że zawsze uda się osiągnąć spektakularny zysk, nawet przy kuponach bukmacherskich pełnych wydarzeń o najniższych kursach. Przeciwnie - im więcej spotkań sportowych na kuponie, tym większe ryzyko całego zakładu. Ponadto należy pamiętać, że bukmacher internetowy również ocenia ryzyko i w przypadku przegrywającego “pewniaka”, przegrywa jednakowo z wszystkimi mylącymi się graczami.</p>
      <p>Na wygrane wpływa także wiele czynników drugoplanowych, takich jak pogoda, miejsce wydarzenia, czy też forma przygotowawcza zawodników. Historia pokazuje, że często generalnie słabsze drużyny potrafią zwyciężyć liderów w pojedynkach ligowych.</p>
      <p>Przytaczanym powodem tego zjawiska, jest wręcz bojowe nastawienie słabszej drużyny, przeciwko mocniejszemu “na papierze” liderowi, gdzie zakład live może w mgnieniu oka wszystko zmienić.</p>
    </div>
  </div>

<script>
$('#betCarusel').carousel({ interval: 2000 })
</script>
