<h1>Twój profil</h1>

<p><b>Statystyki</b></p>
<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <th>Opis</th>
      <th>Wartość</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bilans konta:</td>
      <td>{{userStatistic?.accountBalance}} PLN <button type="submit" (click)="increaseAccountBalance()" id="increase-the-amount-btn" class="btn btn-primary btn-sm">Zwiększ kwote</button> // tu strona do paypal</td>
    </tr>
    <tr>
      <td>Wygranych zakładów</td>
      <td>{{userStatistic?.wonMatches}}</td>
    </tr>
    <tr>
      <td>Najwyższa wygrana</td>
      <td>{{userStatistic?.biggestWin}}</td>
    </tr>
    <tr>
      <td>Data najwyższej wygranej</td>
      <td>{{userStatistic?.biggestWinDate}}</td>
    </tr>
    <tr>
      <td>Przegranych zakładów</td>
      <td>{{userStatistic?.lostMatches}}</td>
    </tr>
  </tbody>
</table>

<div class="bets-history">
  <button type="submit" class="btn btn-primary btn-sm" routerLink="bets-history">Historia zakładów</button>
</div>

<div class="current-bets-table">
  <p><b>Aktualnie obstawione zakłady</b></p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Drużyny </th>
        <th>Data meczu</th>
        <th>Kursy</th>
        <th>Typ zakładu</th>
        <th>Kwota zakładu</th>
        <th>Przewidywana wygrana</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <!-- <tr *ngFor="let elem of matchesArray"> -->
        <td>Gospodarz: <b>Manchester United FC</b> <br> Goście: <b>West Ham United FC</b> </td>
        <td>Wygrana gości: <b>2</b></td>
        <td><b>2018/02/28</b></td>
        <td><b>Wygrana gości</b></td>
        <td><b>2137 PLN</b></td>
        <td><b>4274 PLN</b></td>
        <td><b>W trakcie</b></td>
      </tr>
    </tbody>
  </table>
</div>



<div class="bets-table">
  <p><b>Dostępne zakłady</b></p>
  <table class="table table-bordered table-hover">
    <thead class="bet-table-thead">
      <tr>
        <th>Drużyny </th>
        <th>Data meczu</th>
        <th>Kursy</th>
        <th>Typ zakładu</th>
        <th>Kwota zakładu</th>
        <th>Przewidywana wygrana</th>
        <th>Akcja</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <!-- <tr *ngFor="let elem of matchesArray"> -->
        <td>Gospodarz: <b>Manchester United FC</b> <br> Goście: <b>West Ham United FC</b> </td>

        <td><b>2018/02/28</b></td>

        <td>Wygrana gospodarzy: <b>2</b>
          <br>Wygrana gości: <b>2</b>
          <br>Remis: <b>2</b>
          <br> Wygrana gosp. lub remis: <b>2</b>
          <br> Wygrana gości lub remis: <b>2</b>
          <br> Wygrana gosp. lub gości: <b>221</b>
        </td>

        <!-- Radios wypisac to ngforem -->
        <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType">Wygrana gospodarzy
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType">Wygrana gości
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType" >Remis
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType" >Wygrana gosp. lub remis
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType" >Wygrana gości lub remis
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="betType" >Wygrana gosp. lub gości
              </label>
            </div>
        </td>
        <td><input type="text"  name=moneyInsertInput> PLN</td>
        <td>//Zmiana pod wplywem <br> kursu i wplaconej <br> kwoty <br> wylicza front</td>
        <td><button type="submit" class="btn btn-primary btn-sm">Obstaw</button></td>
      </tr>
    </tbody>
  </table>
</div>

