<div class="content text-center">
  <h1>Rejestracja</h1>

    <form (ngSubmit)="register(formData)" #formData="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class=" control-label" for="login">Login</label>
          <input ngModel type="text" name="login" class="form-control" placeholder="Pole wymagane" required minlength="1">
        </div>
        <div class="form-group col-md-6">
          <label class=" control-label" for="password">Hasło</label>
          <input ngModel type="password" name="password"  class="form-control" placeholder="Pole wymagane" required minlength="1">
        </div>
      </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class=" control-label" for="name">Imie</label>
        <input ngModel type="text" name="name" class="form-control" placeholder="Pole wymagane" required minlength="1">
      </div>

      <div class="form-group col-md-6">
        <label class=" control-label" for="surname">Nazwisko</label>
        <input ngModel type="text" name="surname" class="form-control" placeholder="Pole wymagane" required minlength="1">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label class=" control-label" for="surname">Email</label>
        <input ngModel type="text" name="email" class="form-control" placeholder="Pole wymagane" required minlength="1">
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label class=" control-label" for="birthDate">Data urodzenia</label>
          <input ngModel type="date" name="birthDate" class="form-control" placeholder="Pole wymagane" required minlength="1">
        </div>

        <div class="form-group col-md-6">
          <label class=" control-label" for="address">Adres</label>
          <input ngModel type="text" name="address" class="form-control" placeholder="Pole wymagane" required minlength="1">
        </div>

        <div class="form-group col-md-3">
          <label class=" control-label" for="postCode">Kod pocztowy</label>
          <input ngModel type="text" name="postCode" class="form-control" placeholder="Pole wymagane" required minlength="1" maxlength="6">
        </div>
      </div>

      <div *ngIf="checkLoginAvailability == false">
        <div class="login-register-status">
          Login jest zajęty
        </div>
      </div>
      <button type="submit" [disabled]="formData.invalid" class="btn btn btn-success">Zarejestruj się</button>
    </form>
</div>

