form {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 16px;
  justify-content: center;
  text-align: center;
}

button {
  margin-top: 15px;
}

.cookie_alert_style{
  font-size: 20px;
}
