<div class="content text-center">

    <h1>Logowanie</h1>

      <form (ngSubmit)="login(formData)" #formData = "ngForm">  <!--Przeslanie formukarza w lokalnej referencji formData-->

          Login
          <input ngModel type="text" name="login" placeholder="Pole wymagane" required minlength="1">

          Haslo
          <input ngModel type="password" name="password" placeholder="Pole wymagane" required minlength="1">

        <button type="submit" class="btn btn-success" [disabled]="formData.invalid">Zaloguj</button>
        <button type="button" class="btn btn-success" routerLink="/register">Rejestracja</button>
        <button type="button" class="btn btn-primary" (click)="loginViaFacebook()" >Rejestracja/Logowanie przez Facebook</button>

      </form>
      <div *ngIf="authService.loginStatus == false">
        <p class="login-register-status">
          Nieprawidłowe dane logowania
        </p>
      </div>

      <p class="facebookUserWriteToBaseMsg">
          {{facebookUserWriteToBaseMsg}}
      </p>

</div>
