td {
  text-align: left;
}

table {
  margin-top: 30px;
}

.bets-table-legend {
  text-align: left;
  display: inline;
}

.bets-table-legend b {
  padding-right: 10px;
}

.user-statistic {
    margin-bottom: 30px;
    margin-top: 30px;
}
