<div class="content text-center">
    <h1>Tabela ligowa</h1>
      <table class="table table-striped">
        <thead>
          <tr class="table-active">
            <th>Pozycja</th>
            <th>Nazwa drużyny</th>
            <th>Rozegranych meczy</th>
            <th>Punkty w lidze</th>
            <th>Gole</th>
            <th>l. zwycięstw</th>
            <th>l. porażek</th>
            <th>l. remisow</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of standingsTable">
            <td>{{elem.id}}</td>
            <td> <img src="{{elem.teamStatistics.img}}" alt="image not load" height="32" width="32"> {{elem.name}}</td>
            <td>{{elem.teamStatistics.playedGames}}</td>
            <td>{{elem.teamStatistics.points}}</td>
            <td>{{elem.teamStatistics.goals}}</td>
            <td>{{elem.teamStatistics.wonMatches}}</td>
            <td>{{elem.teamStatistics.lostMatches}}</td>
            <td>{{elem.teamStatistics.drawMatches}}</td>
          </tr>
        </tbody>
      </table>
</div>
